/*此页面用来编写各大页面公共的模块，比如页面顶部 tip（黑色条） */

header .topTip{
    padding-left: 2%;
    /*20/1000*/
    padding-right: 4%;
    background-color: #333;
    height: 26px;
}
.headInner{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
.view{
    max-width: 1280px;
    margin: 20px auto;
    background-color: #fff;
}
.mainInner{
    max-width: 1280px;
    margin: 0 auto;
}

header .topTip div{
    line-height: 26px;
}

header .topTip p,
header .topTip ul.ul-cfl>li>a{
    font-family: Helvetica-Light;
    font-size: 1.2rem;
    color: #fff;
}
.topTip #userName>img{
    height: 10px;
    width: 10px;
}


/*＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊　主页系列头部样式　＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊　*/

/********************** logo 和搜索框样式*************************/
.index .head{
    /*padding-left: 6%;*/
    /*padding-right: 8%;*/
    position: relative;
    max-width: 1280px;
    margin: 27px auto 0 auto;
}

.index .head .logo{
    width: 40.6976%;
    /*350 / 860*/
}

.index .head .search{
    width: 47.4418%;
    /*408 / 860*/
    position: absolute;
    top:50%;
    right: 0%;
    margin-top: -20px;
}

.index .head .logo img{
    width: 84%;
}
.index .head .search .input-group{
    width: 85.7843%;
    height: 40px;
}
.index .head .search .input-group-btn{
    width: 17.1568%;
}
.index .head .search .input-group-btn button{
    width: 100%;
}

.index .head .search .input-group .form-control{
    height: 40px;
}

.index .head .search .input-group .select{
    padding: 9px 12px;
    background-color: #fff;
    color: #4a4a4a;
    z-index: 10;
}
.index .head .search .input-group .select img{
    margin-left: 9px;
    height: 10px;
    width: 10px;
}
.index .head .search .input-group .select,
.index .head .search .input-group .form-control{
    border: 1px solid #b39f7a;
    opacity:0.3;
}
.index .head .search .searchBtn{
    width: 14%;
    background-color: #000;
    padding: 10px 0;
}

.index .head .search .searchBtn a{
    display:block;
    text-align: center;
    margin:  0 auto;
    /*20/58*/
}

.index .head .search .searchBtn a img{
    width: 20px;
    height:20px;
    text-align: center;
}


/* ******************************* nav 样式  ************************** */

/*.index .nav{*/
/*width: 82%;*/
/*margin: 10px auto 0 auto;*/
/*max-width: 1280px;*/
/*}*/

/*.index .nav>ul{*/
/*padding-left: 0;*/
/*}*/

/*.index .nav>ul>li{*/
/*width: 16.6666%;*/
/*text-align: center;*/
/*}*/

/*.index .nav>ul>li:last-child{*/
/*border-left: 1px solid #979797;*/
/*}*/

/*.index .nav>ul>li p i{*/
/*!*margin-left: 5.3658%;*!*/
/*!*margin-right: 5.1219%;*!*/
/*font-size: 2.5rem;*/
/*}*/

/*.index .nav ul li a{*/
/*font-size: 2rem;*/
/*color: #4a4a4a;*/
/*padding: 8px 15px;*/
/*!*padding-bottom: 9px;*!*/
/*}*/

/*!*.index .nav ul li a.active{*!*/
/*!*border-bottom: 2px solid #b39f7a;*!*/
/*!*}*!*/

/*.index .nav>ul>li>a:hover{*/
/*background-color: #f5f5f5;*/
/*}*/
/* *************************  sub nav ************************** */

.index .subNav{
    margin-top: 25px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    left: 50%;
}

.index .subNav li{
    margin-right: 80px;
}
.index .subNav li a{
    display: block;

}

.index .subNav li a p{
    color: #4a4a4a;
    font-size: 1.4rem;
    margin-top: 6px;
}
.index .nav>ul>li>div.bg{
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    height: 84px;
    z-index: 90;
    margin-top: 25px;
}

/*banner 的圆点公共样式*/

.carousel-indicators li{
    border: 1px solid #b39f7a;
    background-color: #b39f7a;
    height: 10px;
    width: 10px;
}
.carousel-indicators .active{
    width: 20px;
    height: 10px;
    border-radius: 20px;
    background-color: #b39f7a;
}

.carousel-inner .item img{
    height: 500px;
}

/*  main 的公共样式*/
.main{
    width: 100%;
    /*margin-bottom: 50px;*/
}
.main .mainInner{
    width: 88%;
    margin: 0px auto;
}

/*  底部公用的部分 */

footer{
    width: 100%;
    background-color: #f4f0ea;
    padding-bottom: 25px;
    padding-top: 40px;
}

footer .orderPay{
    position: absolute;
    bottom:0;
}
footer .row{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

footer .row ul li{
    text-align: center;
}

footer .row ul li a{
    color: #4a4a4a;
    font-size: 1.4rem;
    text-align: center;
}
footer .copyright{
    margin-top: 47px;
    font-size: 1.4rem;
    color: #4a4a4a;
}


/*登录弹出层样式*/
.modal-content{
    background-color: rgba(255,255,255,0.8);
}

.modal-dialog{
    position: fixed!important;
    width: 550px!important;
    max-width: 550px;
    top: 50%;
    left: 50%;
    margin-left: -300px!important;
}
.modal-header{
    padding: 0 11% 0 11%;
}
.modal-body{
    padding: 0px 11% 0px 11%;
}
.modal-body,
.modal-header{
    border-bottom: none;
}
.modal-header{
    padding-top: 26px;
}
.modal-body{
    padding-top: 30px;
}

.modal-header .modal-title{
    text-align: center;
}

.modal-header .modal-title img{
    width: 36.1829%;
}

.modal-body .input-group{
    border: 1px solid  #4a4a4a;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    width: 100%;
    padding: 12px 0;
}
.modal-body .input-group .img{
    width: 13.5555%;
    text-align: center;
}
.modal-body .input-group .input{
    width: 86%;
    background-color: rgba(255,255,255,0);

}
.modal-body .input-group .input input{
    width: 100%;
    border: none;
    border-left: 1px solid #4a4a4a;
    padding-left: 10px;
    font-size: 1.4rem;
    background-color: rgba(255,255,255,0);
}


.modal-body .input-group .img img{
    width: 36%;
}

.modal-body .btnBox a{
    font-size: 1.6rem;
    color: #4a4a4a;
}
.modal-body .loginBtn a{
    width: 38%;
    margin-bottom: 60px;
}
a.pubBtn1{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 0;
    background-color: #4a4a4a;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size: 2rem;
}

/*.modal-body .input-group-pwd{*/
/*margin-top: 30px;*/
/*}*/

/*.modal-body .btnBox{*/
/*margin-top: 30px;*/
/*}*/


/* ****************** 注册头部样式 ******************* */
header.register{
    padding: 14px 6% 14px 3%;
    background-color: #333;
}

header.register .logo{
    width: 27.4725%;
}

header.register .logo img{
    width: 54%;
}
header.register .nav{
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    right: 0;
}
header.register .nav ul li{
    float: left;
}

header.register .nav ul li a{
    color: #fff;
    font-size: 1.4rem;
}

header.register .nav ul li:last-child{
    margin-left: 30px;
}

/* ***************************  按钮组 *************************** */
.myBtn{
    background-color: #4a4a4a;
}


.myBtn1{
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.8rem;
    color: #fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:3px;
}

.myBtn2{
    display: inline-block;
    padding: 8px 18px;
    font-size: 1.8rem;
    color: #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

/*商家端 店铺”修改“按钮类似*/

.myBtn3{
    display: inline-block;
    padding: 15px 50px;
    font-size: 2rem;
    color: #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

/* *************** 上传图片的 span *************/

span.upload{
    display: inline-block;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-image: url(../../public/images/upload.png);
    background-repeat:no-repeat;
    -webkit-background-size:100%;
    background-size:100%;
    cursor: pointer;
}

input[type=file]{
    cursor: pointer;
    position: absolute;
    z-index: 100;
}


.errorMain img{
    width: 100%;
}

textarea{
    font-size: 1.2rem;
    padding: 10px;
}

/* 鼠标滑过遮罩层，目前只有主页有，鉴于以后可能会用到，所以写在公共部分里*/

figcaption.storeInfo p{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
}

figure.img-shade{
    position: relative;
}


/*  文件上传的input 统一隐藏 */

input[type=file]{
    opacity:0;
}

a i{
    color: #4a4a4a;
}

/* 用户登录后，tip 里显示 个人中心和我的收藏之类的二级菜单 */

.subnav{
    width: 82px;
    height: 116px;
    padding: 15px;
    background-image: url(../images/subnavBg.png);
    -webkit-background-size:cover;
    background-size:cover;
    z-index: 10;
    position: absolute;
    left: -20px;
}
.subnav li{
    width: 100%;
    text-align: center;
    line-height: normal;
}
.subnav li a{
    display: inline-block;
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 15px 0 0 0;
}

.subnav li:first-child a{
    margin-top: 6px;
}

/*　×××××××××××××××××××××××××××××××××××××××××××××　　商户端公共样式从这里开始　　　××××××××××××××××××××××××××××××××××　*/

/* 商户端 公共填写表单类  */

input,select,textarea{
    outline:none!important;
}
.formBox{
    width: 54.84%;
    margin: 0 auto;
}

.formBox .itemBox{
    padding: 0% 19.65% 7.12% 0;
    /*border-bottom:2px solid #ccc;*/
}

.formBox .itemBox>h5{
    font-size: 2rem;
    text-align: center;
}

.formBox .itemBox>div{
    padding: 0px 0;
}
.formBox .itemBox>div .form-group{
    margin-bottom: 30px;
}
.formBox .itemBox>div .form-group:last-of-type{
    margin-bottom: 0;
}
.formBox .itemBox>div .form-group>label{
    width: 19.5%;
    float: left;
    text-align: right;
}

.formBox .itemBox>div .form-group>div{
    width: 70.92%;
    float: right;
    position: relative;
}
span.hintMsg{
     font-size: 1.2rem;
     color: #d36572;
 }
span.true{
    color: #63a35c;
}
.formBox .itemBox>div .form-group>div span.hintMsg{
    position: absolute;
    width: 100%;
    top: 16px;
    left: 102%;
}
.formBox .itemBox>div .form-group>div>input{
    width: 100%;
    border-radius: 3px;
}

.formBox input{
    height: 50px;
    font-size: 1.4rem;
    border: 1px solid #979797;
    /*background-color: #f2f2f2;*/
    padding: 0 10px;
    color: #4a4a4a;
}
label{
    line-height: 50px;
    font-size: 1.8rem;
    font-weight: normal!important;
}

a.btn{
    display: inline-block;
    background-color: #4a4a4a;
    color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
    background-color: #fff!important;
}


/* *******************　商家端的公共头部　和左侧菜单栏　××××××××××××××××××××*/

.maxWid{
    position: relative;
    max-width: 1280px;
    margin:  0 auto;
}
.storeHead{
    width: 100%;
    height: 74px;
    background-color: #222;
    z-index: 200;
}
.storeHead .headInner{
    /*width: 89.84%;*/
    margin: 0 auto;
    padding:1%;
}
.storeHead .headInner .logo{
    width: 22.12%;
}
.storeHead .headInner .logo img{
    width: 64%;
}

.storeHead .headInner>div.fr{
    width: 30.5%;
}

.storeHead .headInner>div.fr .userImg img{
    width: 42%;
}

.storeHead .headInner>div.fr a{
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
}

.storeHead .headInner>div.fr>div{
    text-align: center;
}

.storeHead .headInner>div.fr i{
    color: #fff;
}

body .dropdown-menu{
    min-width: 100px;
    left: 50%;
    margin-left: -50px;
}
body .dropdown-menu li a{
    color: #4a4a4a!important;
    line-height: 2em!important;
    font-size: 1.4rem!important;
    text-align: center;
}
body .dropdown-menu>li>a:hover{
    background-color: #fff;
}
body .dropdown-toggle{
    color: #fff;
}

/* ************************　左侧导航栏样式　*　×××××××××××××××××××××××××××××　/ */

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #4a4a4a; }
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0; }
.sidebar-menu > li:first-child>a{
    /*padding-top: 60px;*/
}
.sidebar-menu > li > a {
    padding: 20px 5px 20px 15px;
    display: block;
    border-left: 3px solid transparent;
    color: #fff;
    font-size: 1.4rem;
    text-align: center}
.sidebar-menu > li > a i{
    color: #fff;
    margin-left: 8px;
    display: inline-block;
    font-size: 1.2rem;
}
.treeview>a>i.active{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); /* Opera */
}
.sidebar-menu > li > a > .fa {
    width: 20px; }
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #fff;
    background: #232323;
}
.sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #232323; }
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px; }
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226; }
.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg); }
.sidebar-menu li.active > .treeview-menu {
    display: block; }
.sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none; }
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px; }
.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px; }
.sidebar-menu .treeview-menu > li {
    margin: 0; }
.sidebar-menu .treeview-menu > li > a {
    padding: 0px 5px 16px 0px;
    display: block;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.sidebar-menu .treeview-menu > li:first-child a{
    padding-top: 0;
}

.sidebar-menu .treeview-menu.sec-menu > li:last-child > a{
    padding-bottom: 30px;
}

.sidebar-menu .treeview-menu.third-menu > li:last-child a{
    padding-bottom: 16px;
}
.sidebar-menu .treeview-menu > li > a i{
    width: 20px;
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
}
.sidebar-menu .treeview-menu > li > a > .fa {
    width: 20px; }
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto; }
.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
    color: #fff; }

.main-sidebar{
    /*position: absolute;*/
    left: 0;
    top:74px;
    /*min-height: 100%;*/
    width: 8.625%;
    z-index: 810;
    background-color: #4a4a4a;
    float: left;
}

.storeMain{
    /*position: absolute;*/
    width: 91.3%;
    float: right;
}

.storeMain .mainInner{
    padding: 2% 3.52%;
    position: relative;
    /*max-width:1920px;*/
}

.storeMain .mainInner>.row{
    margin-bottom: 3%;
}

.storeMain .mainInner>.row div p span.active{
    color: #4cae4c;
}

/* 公共搜索 */

.searchBox{
    width: 26.13%;
    margin: 20px auto 23px auto;
}
.searchBox .input{
    width: 86.95%;
}
.searchBox .input input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #4a4a4a;
}
.searchBox .searchIcon{
    width: 8.69%;
}

.searchBox .searchIcon img{
    max-width: 100%;
}

/* 公共表格类 */

.pubList{
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
}

.pubList table{
    width: 100%;
}

.table-button{
    background-color: #4a4a4a;
    color: #fff;
    border:1px solid #4a4a4a;
    padding: 4px 6px;
    border-radius: 3px;
}

.pubList table thead td{
    background-color: #4a4a4a;
    color: #fff;
}
.pubList table tbody td,
.pubList table thead td{
    text-align: center;
    padding: 15px 0;
    font-size: 1.4rem;
}
.pubList table tbody td{
    border-bottom:1px solid #4a4a4a;
    padding-right: 5px;
    padding-left: 5px;
}
.pubList table tbody td.name{
    width: 100px;
    max-width: 100px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: help;
}
.pubList table thead td select{
    background-color: #4a4a4a;
    color: #fff;
    border:none;
}
.pubList table tbody td img{
    width: 50%;
}

.pubList table td.operateIcon a i{
    font-size: 2rem;
}
.pubList table td.status.true{
    color: #5cac00;
}

/* 分页的样式 */

.page{
    padding: 25px 0;
    text-align: center;
}

.page span,
.page a{
    padding: 8px;
    color: #4a4a4a;
    margin-right: 10px;
}

.page span {
    border: 1px solid #4a4a4a;
}

.page .laypage_next,
.page .laypage_prev{
    border: 1px solid #4a4a4a;
}


/* 数据提示 公共样式（ 没有数据 或者 请求失败） */

.tableHint_dataError,
.tableHint_netError{
    padding: 20px 0;
}


/* 广告修改，商品修改 公共样式 */

.goodsChangeMain .itemBox{
    border-bottom: none;
}

.goodsChangeMain .itemBox>div{
    padding: 0;
}

.goodsChangeMain .formBox .itemBox>div .form-group div.radio{
    line-height: 50px;
    font-size: 1.8rem;
    text-align: center;
}

.goodsChangeMain .formBox .itemBox>div .form-group div.radio input{
    height: auto;
    width: auto;

}

.goodsChangeMain .formBox .itemBox>div .form-group div.radio:last-of-type{
    float: right;
}

/* ***********************************  管理后台  ************************* */


/*  管理后台样式 ，首页专栏--正常的添加图片那些 */

.formBox .itemBox .selectStatus{
    /*width: 50%;*/
    margin: 0 auto;
}

.formBox .itemBox .selectStatus .radio{
    border: 1px solid #979797;
    line-height: 50px;
    font-size: 1.8rem;
    text-align: center;
}


.formBox .itemBox .selectStatus .radio input{
    /*margin-right: 20px;*/
    /*margin-left: -36px;*/
    width: auto;
    height: auto;
}

.storePic{
    border: 1px solid #979797;
    background-image: url(../images/uploadBig.png);
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
}

.storePicBig{
    padding-bottom: 100%;
}

.storePicSmall{
    padding-bottom: 70.92%;
}

.storePic input{
    height: 100%;
}
.storePic img{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    height: 100%;
}


/* 表格中的操作icon样式 */

table .operateIcon a{
    display: inline-block;
}

table .operateIcon>a:last-of-type{
    margin-left: 80px;
}


/*  管理后台修改公共表单样式 */

.publicForm {
    width: 43.24%;
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
}

.publicForm form>div{
    padding: 3.21% 0;
    width: 100%;
}
.publicForm form>div.form-group{
    border-bottom:1px solid #4a4a4a
}
.publicForm .formTitle{
    background-color: #4a4a4a;
}
.publicForm .formTitle h6,
.publicForm .form-group label{
    padding:  0 5.35%;
    font-size: 1.4rem;
}
.publicForm .formTitle h6{
    color: #fff;
}
.publicForm .form-group label{
    color: #4a4a4a;
    float: left;
}
.publicForm .form-group label,
.publicForm .form-group>div>p{
    line-height: 1.5em;
}
.publicForm .form-group>div{
    float: left;
}
.publicForm .form-group>div.revisability{
    width: 70%;
}
.publicForm .form-group>div.revisability input{
    padding: 5px 20px;
    width: 95%;
}



/* infoRight */

.infoRight .item{
    margin-bottom: 10.75%;
}
.infoRight .item .content{
    margin-top: 4.3%;
}


/* 提示框 */

.alert-warning{
    position: absolute;
    /*width: 100%;*/
    left: 3.52%;
    right:3.52%;
    z-index: 30;
    top:-73px;
}





/*   *************************************   提示框样式  *************************************/



.zzsc{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.htmleaf-content {
    font-size: 150%;
    padding: 1em 0;
}

.htmleaf-content h2 {
    margin: 0 0 2em;
    opacity: 0.1;
}

.htmleaf-content p {
    margin: 1em 0;
    padding: 5em 0 0 0;
    font-size: 0.65em;
}
.bgcolor-1 { background: #f0efee; }
.bgcolor-2 { background: #f9f9f9; }
.bgcolor-3 { background: #e8e8e8; }/*light grey*/
.bgcolor-4 { background: #2f3238; color: #fff; }/*Dark grey*/
.bgcolor-5 { background: #df6659; color: #521e18; }/*pink1*/
.bgcolor-6 { background: #2fa8ec; }/*sky blue*/
.bgcolor-7 { background: #d0d6d6; }/*White tea*/
.bgcolor-8 { background: #3d4444; color: #fff; }/*Dark grey2*/
.bgcolor-9 { background: #ef3f52; color: #fff;}/*pink2*/
.bgcolor-10{ background: #64448f; color: #fff;}/*Violet*/
.bgcolor-11{ background: #3755ad; color: #fff;}/*dark blue*/
.bgcolor-12{ background: #3498DB; color: #fff;}/*light blue*/
.bgcolor-20{ background: #494A5F;color: #D5D6E2;}
/* Header */
.htmleaf-header{
    padding: 1em 190px 1em;
    letter-spacing: -1px;
    text-align: center;
    background: #66677c;
}
.htmleaf-header h1 {
    color: #D5D6E2;
    font-weight: 600;
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0;
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.htmleaf-header h1 span {
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
    display: block;
    font-size: 60%;
    font-weight: 400;
    padding: 0.8em 0 0.5em 0;
    color: #c3c8cd;
}
/*nav*/
.htmleaf-demo a{color: #1d7db1;text-decoration: none;}
.htmleaf-demo{width: 100%;padding-bottom: 1.2em;}
.htmleaf-demo a{display: inline-block;margin: 0.5em;padding: 0.6em 1em;border: 3px solid #1d7db1;font-weight: 700;}
.htmleaf-demo a:hover{opacity: 0.6;}
.htmleaf-demo a.current{background:#1d7db1;color: #fff; }
button {
    color: #1d7db1;
    display: inline-block;margin: 0.5em;padding: 0.6em 1em;font-weight: 700;
}
/* Top Navigation Style */
.htmleaf-links {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 1.5em;
    text-align: center;
}

.htmleaf-links::after {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #dbdbdb;
    content: '';
    -webkit-transform: rotate3d(0,0,1,22.5deg);
    transform: rotate3d(0,0,1,22.5deg);
}

.htmleaf-icon {
    display: inline-block;
    margin: 0.5em;
    padding: 0em 0;
    width: 1.5em;
    text-decoration: none;
}

.htmleaf-icon span {
    display: none;
}

.htmleaf-icon:before {
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}
/* footer */
.htmleaf-footer{width: 100%;padding-top: 10px;}
.htmleaf-small{font-size: 0.8em;}
.center{text-align: center;}

/****/
.related {
    color: #fff;
    background: #494A5F;
    text-align: center;
    font-size: 1.25em;
    padding: 0.5em 0;
    overflow: hidden;
}

.related > a {
    vertical-align: top;
    width: calc(100% - 20px);
    max-width: 340px;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.related a {
    display: inline-block;
    text-align: left;
    margin: 20px auto;
    padding: 10px 20px;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
    opacity: 1;
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
    border-radius: 4px;
}
.related a:hover img,
.related a:active img {
    opacity: 1;
}
.related h3{font-family: "Microsoft YaHei", sans-serif;}
.related a h3 {
    font-weight: 300;
    margin-top: 0.15em;
    color: #fff;
}

#notie-alert-text{
    font-size: 1.8rem;
}


/* 登录滑块样式 */

.loginMain .common {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
}
.loginMain .slide-to-unlock-bg {
    text-align: center;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
}
.loginMain .slide-to-unlock-bg span {
    position: relative;
    z-index: 5;
    color: #333;
}
.loginMain .slide-to-unlock-progress {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    left: 1px;
    top: 1px;
}
.loginMain .slide-to-unlock-handle {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    z-index: 6;
    cursor: move;
}
.loginMain .bar {
    height: 47px;
    width: 100%;
}
